

.toc {
  position: sticky;
  top: 7rem;
  align-self: start;
}

#tableOfContentContainer {
  max-height: 65vh; /* Adjust the percentage as needed */
  overflow-y: auto;
}

nav#TableOfContents {
  background-color: transparent !important;

  li.active a {
    color: #022b4a !important;
    text-decoration: none !important;
    font-weight: 550 !important;
  }

  ol ol li {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  h1, .h1 {
    font-size: 2rem;
  }
}



.dark {
  


  h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #ffffff !important;
  }

  nav#TableOfContents {
    li.active a {
      color: #bcfbff !important;
      font-weight: 600 !important;
    }
  }

  :is(.dark .btn-primary) {
    --tw-border-opacity: 1;
    border-color: #bcfbff;
    --tw-bg-opacity: 1;
    background-color: #000;
    --tw-text-opacity: 1;
    color: #FFF;

  }

  .social-icons a {
    color: #000 !important;
  }
}

